<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
                <div style="padding-left: 45px">
				    <img alt="MEAN.JS" class="img-responsive text-center" src="modules/core/img/brand/logo101.png" />
                </div>
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				Heads-up card games platform built with the MEAN stack.
			</p>
		</div>
        <div class="row">
            <p>
                <a class="btn btn-primary btn-lg" href="/#!/lobby" target="_blank">Try it!</a>
            </p>
        </div>
	</div>
	<div>
		<h2>Welcome to  1o1!</h2>
		<p>1o1 is essentially a simple game server optimized for card games and for heads-up matches.</p>
		<p>Although only the "tresette" game rules are implemented at the moment, with the modular architecture of 1o1, is really easy to bind any other game to the core platform.</p>
        <p>You can sign in and try it, using any authentication provider.<br/>A simple angular HTML5 tresette client is boundled and there are always AI players ("bots") waiting in lobby to let you start playing quickly.</p>
        <p>The 1o1 platform is built using <a href=""><strong>M</strong>ongo</a>, <a href=""><strong>E</strong>xpress</a>, <a href=""><strong>A</strong>ngular</a>, <a href=""><strong>N</strong>ode</a> (MEAN) technologies and is an open source project based on the <a href="http://opensource.org/licenses/MIT">MIT licence</a>.<br/>
            You can fork it on GitHub, if you want. Instructions to set-up the environment are provided.
        </p>

	</div>

</section>
