.cardx{ background: #ffffff url("../img/card-back.png");}
.cardAh{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -16px -25px;}
.card2h{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -83px -25px;}
.card3h{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -152px -25px;}
.card4h{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -221px -25px;}
.card5h{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -290px -25px;}
.card6h{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -16px -130px;}
.card7h{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -83px -130px;}
.cardJh{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -152px -130px;}
.cardQh{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -221px -130px;}
.cardKh{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -290px -130px;}

.cardAs{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -16px -248px;}
.card2s{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -83px -248px;}
.card3s{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -152px -248px;}
.card4s{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -221px -248px;}
.card5s{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -290px -248px;}
.card6s{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -16px -355px;}
.card7s{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -83px -355px;}
.cardJs{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -152px -355px;}
.cardQs{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -221px -355px;}
.cardKs{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -290px -355px;}

.cardAd{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -370px -25px;}
.card2d{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -442px -25px;}
.card3d{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -514px -25px;}
.card4d{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -586px -25px;}
.card5d{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -658px -25px;}
.card6d{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -370px -130px;}
.card7d{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -442px -130px;}
.cardJd{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -514px -130px;}
.cardQd{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -586px -130px;}
.cardKd{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -658px -130px;}

.cardAc{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -370px -248px;}
.card2c{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -442px -248px;}
.card3c{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -514px -248px;}
.card4c{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -586px -248px;}
.card5c{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -658px -248px;}
.card6c{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -370px -355px;}
.card7c{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -442px -355px;}
.cardJc{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -514px -355px;}
.cardQc{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -586px -355px;}
.cardKc{ background: #ffffff url("../img/card_nap_all.jpg") no-repeat -658px -355px;}